.env
.env.*
.git
.github
.idea
.composer
.config
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
public/storage
npm-debug.log
tests
docs

