APP_ENV=testing
APP_KEY=
APP_DEBUG=true
DB_CONNECTION=mysql
DB_HOST=shared-mysql
DB_PORT=3306
DB_DATABASE=estoque_test
DB_USERNAME=dev
DB_PASSWORD=troque-esta-senha-dev
DB_COLLATION=utf8mb4_0900_ai_ci
CACHE_DRIVER=array
QUEUE_CONNECTION=sync
SESSION_DRIVER=array
MAIL_MAILER=array
SERVICES_EXTRATOR_PEDIDO_URL=http://leitor-pdf-sierra:8000/extrair-pedido
SERVICES_EXTRATOR_PEDIDO_FORCE_LOCAL_URL=false
COMMS_BASE_URL=http://api-comunicacao:8002/api
COMMS_API_KEY=teste
COMMS_API_SECRET=teste
